<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <marquee><h1 style="color: deeppink;">NTR is a young tiger</h1></marquee>
        <a href="{% url 'MB' %}">who is MB</a><br>
        <a href="{% url 'PK' %}">who is PK</a><br>
        <a href="{% url 'RC' %}"> who is RC</a>
    </center>
</body>
</html>